<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%games.forEach((game)=>{%>
        <ul>
            <li>Name= <%= game.name %></li>
            <li>Genre= <%= game.category %></li>
            <li>Developed By= <%= game.developer %></li>
            <li>Price= <%= game.price %></li>
            <li>Description= <%= game.bio %></li>
            <li>stock= <%= game.stock %></li>
        </ul>
        <a href="/delete/<%= game.id%>">
            <button>delete</button>
        </a>
    <%})%>
    <a href="/addgame">
        <button>Add a new Game</button>
    </a>
</body>
</html>